
.adjust-card-input{
    height: 50px;
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    border-radius: 4px 4px 0 0;
    padding: .75em .75em 0 .75em;
    background-color: rgba(0,0,0,.04);
    margin-left: 200px;
    margin-right: 4px;
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
}

.adjust-date1-input{
    height: 50px;
    width: 100px;
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    border-radius: 4px 4px 0 0;
    padding: .75em .75em 0 .75em;
    background-color: rgba(0,0,0,.04);
    margin-left: 200px;
    margin-right: 4px;
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
}

.adjust-date2-input{
    height: 50px;
    width: 100px;
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    border-radius: 4px 4px 0 0;
    padding: .75em .75em 0 .75em;
    background-color: rgba(0,0,0,.04);
    margin-right: 4px;
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
}

.separate{
    height: 50px;
}

.push-right{
    margin-left: 200px;
}

.danger{
    color: red;
    margin-left: 200px;
}

.adjust-month{
    margin-left: 150px;
}

.adjust-year{
    margin-left: 50px;
}