    <label>Orders:</label>
    <div class="push-down"></div>

    <mat-grid-list class="grid-full" cols="3" rowHeight="4:1">

        <mat-grid-title>
            <mat-grid-tile >
                ID
            </mat-grid-tile>
            <mat-grid-tile >
                Total Cost
            </mat-grid-tile>
            <mat-grid-tile >
                Status
            </mat-grid-tile>
        </mat-grid-title>

        <ng-container *ngFor="let item of myList">
            <mat-grid-tile >
                <a (click)="goToOrder(item)">{{item.orderId}}</a>
            </mat-grid-tile>
            
            <mat-grid-tile >
                <p>{{item.totalCost}}</p>
            </mat-grid-tile>

            <mat-grid-tile >
                <p>{{item.orderStatus}}</p>
            </mat-grid-tile>
        </ng-container>

    </mat-grid-list>